<p id="notice"><%= notice %></p>

<div class="container">
	<img src="<%= @user.avatar %>" class="img-rounded" alt="Cinque Terre" width="304" height="236">
	<div class="alert alert-info" style="width:40%">
		<strong>Username:</strong>
		<%= @user.Username %>
	</div>

	<div class="alert alert-info" style="width:40%">
		<strong>Name:</strong>
		<%= @user.Name %>
	</div>

	<%= link_to 'Edit', edit_user_path(@user), :class => 'btn btn-success' %>
	<%= link_to 'Back', users_path, :class => 'btn btn-primary' %>
</div>
